<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjfcUMq3VvISng51z1qcMENAWFkMDXWrA</string>
	<key>GCM_SENDER_ID</key>
	<string>725642606088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bminschreib.thePushApp</string>
	<key>PROJECT_ID</key>
	<string>the-push-app-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>the-push-app-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725642606088:ios:5c388def722b25011803bd</string>
</dict>
</plist>